@font-face {
    font-family: 'Lato';
    src: url('/public/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/public/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/public/fonts/Lato-Italic.ttf') format('truetype');
    font-weight: light;
    font-style: italic;
}
