.btn-primary {
    background: $secondary;
    font-weight: bolder;
}

.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple,
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__arrow
{
    height: 37.02px !important;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    height: 35.02px !important;
}

.select2-container .select2-search--inline .select2-search__field {
    padding: 2px;
    height: 26.02px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 37.02px !important;
}

#app {
    > .navbar {
        background: $primary;
        min-height: 40px;

        .nav-link {
            color: $secondary;
        }
    }
}

#login-panel, #register-panel {
    color: $secondary;
    font-weight: bold;

    .h1 {
        font-size: 25px;
        text-transform: uppercase;
    }
}

.navbar-toggler {
    background: $secondary;
    color: $primary;
}

.form-control {
    background: #fff;
}
